body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #3b1c2e; 
    color: #ffe0f0;      
    min-height: 90vh;
}

a {
    all: unset;
    color: #ff90c2;      
    cursor: pointer;
}

a:hover {
    color: #ff69b4;      
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid #ffb6c1 2px; 
    padding: 20px;
    gap: 5px;
    background-color: #5a2a42; 
    border-radius: 8px;
}

input {
    background-color: #ffb6c1; 
    color: #4a1c2c;           
    border: none;
    padding: 5px;
    border-radius: 4px;
}

input[type="submit"] {
    padding: 5px 10px;
    background: #d63384;      
    color: #fff0f5;           
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s;
    border-radius: 4px;
}

input[type="submit"]:hover {
    background-color: #fff0f5; 
    color: #880e4f;            
}
