body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #222;
    color: #eee;
    min-height: 90vh
}s
a{
    all:unset;
    color:aqua;
    cursor: pointer;
}
a:hover{
    color: #ffff00
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-direction: center;
    border: solid #999 2px;
    padding: 20px;
    gap: 5px;
}
input{
    background-color: #555;
    color: #fff; 
}
input[type="submit"]{
    padding:5px 10px ;
    background: #333;
    color: #eee;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s;
}
input[type="submit"]:hover{
    background-color: #eee;
    color: #111;
}